.topnav {
		background: #f3f3f5;
		padding:0;	
		list-style:none;
}

.topnav ul{
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 0.5em;
	list-style: none;
}

.topnav li {
	list-style: none;}

.topnav li a {
			display: block;
			line-height: 30px;
			text-indent:10px;
			color:#000;
			height: 33px;
			text-decoration: none;
			font-size: 13px;
			font-weight: normal;
			outline:none;
        }

.topnav li a:hover {
			display: block;
			color:#000;
			text-decoration:none;
}

.topnav ul ul {
			background:#fff;
			padding: 10px 0 10px 0;
			display:none;
}

.topnav ul ul li {
	margin: 0;
	padding: 0;
	clear: both;
}

.topnav ul ul li a {
			padding: 5px 0 0 0;
				height:15px;
				line-height: 8px;
				text-decoration: none;
				text-indent:30px;
}

.topnav ul ul li.active a {
				color: #000;
				font-weight: bold;
}

.topnav ul ul li a:hover {
			padding: 5px 0 0 0;
				height:15px;
				line-height: 8px;
				text-decoration: underline;
				text-indent:30px;
}

.topnav ul ul ul li a {
	color:#444;
	padding-left:10px;
}

.topnav ul ul ul li a:hover {
	background-color:#D3CEB8;
	color:#675C7C;
}

.topnav ul span{float: right;clear:both; padding-right:10px}



