<div class="news_blog_right">
    <fieldset class="comment_all">
        <legend>Последние комментарии</legend>
        <div id="mc-last"></div>
        <script type="text/javascript">
            var mcSite = '22901';
            var mcSize = '6';
            var mcAvatarSize = '32';
            var mcTextSize = '150';
            var mcTitleSize = '40';
            (function () {
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = '//cackle.me/mc.last-min.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
            })();
        </script>
    </fieldset>
</div>